
@{
    ViewBag.Title = "SuKienNew";
    Layout = "~/Views/_LayoutPhroduct.cshtml";
}

<div class="tinmain">
    <div class="row">
        <div class="tin">
            <h1> SỰ KIỆN NỔI BẬT  </h1>
        </div>
    </div>
</div>
<div class="tmain text-center">
    <h2>_______________________</h2>
    TReE'S Decor

</div>

<section id="tintucimg">
    <div class="col-12">
        <img src="~/Image/mua-sam-noi-that-mua-dich.jpg" class="img-fluid" />
    </div>
</section>


<div class="tinmain">
    <div class="row">
        <div class="tin">
            <div class="splitter"></div>
        </div>
    </div>
</div>





<section id="tintuccovi">
    <div class="container">
        <h2>Mua sắm nội thất an toàn mùa dịch cùng TReE'S Decor</h2>
        <br />
        <h3>
            Hợp tác TReE'SDecor - Hội bạn bè các nhà nghề  decor My Home chính thức diễn ra vào ngày 15/05/2021 - 20/05/2021. </b>
            Sự kiện giao lưu học hỏi và hợp tác thương mại.
        </h3>
        <br />
        <h5>
            Sự kiện gớp mặt với hơn 20 đối tác đến từ các nhà decor <b>Home</b> và sự góp mặt của các nhà lảnh đạo cũng như là sự giao lưu học hỏi của các
            bạn trẻ . Kết thúc mỗi buổi với chuổi buffet da dạng và không gian sang trọng của khách sạn  Lolita Center
        </h5>
        <br />
    </div>
</section>
<section id="tintuccovi">
    <div class="container">
        <img src="~/Image/sukien1.jpg" />
        <div class="text-center"> Giao lưu giữa các bạn trẻ đam mê Decor . <b>SHOWROOM</b> </div>
        <br />
        <h4> Sự kiện diễn ra trong 5 ngày tại Khách sạn LOLITA Center với sự góp mặt của các<b> thương hiệu decor lớn.Các buổi giao lưu nghệ thuật chia sẽ kinh nghiệm!</h4>
        <br />
        <img src="~/Image/sukien2.jpg" />
        <div class="text-center"> Nhân viên nhà TReE'S Decor lưu lại kỹ niệm tại sự kiện <b>My Home SaiGon Decor</b> </div>
        <br />
        <h4>
            Với sự kiện lần này TReE'S Decor cũng như tất cả anh em chiến hữu trên cùng chiến tuyến giửi lời cám ơn đến Ban tổ chức
            <b>MY HOME SAIGON DECOR</b>
        </h4>
        <br />
    </div>
</section>
<div class="splitter"></div>



