
@{
    ViewBag.Title = "Chuyện TReE'S Decor";
    Layout = "~/Views/_LayoutPhroduct.cshtml";
}
<div style="background-color:black">
    <img src="~/Image/TREEDECOR/TREE.jpg" class="img-fluid" />
</div>
<div>
    <h2 style="color:black;font-weight:bold;text-align:center"> Tuyên ngôn - Sứ mệnh</h2>
</div>
<div>
    <h5 style="color:gray;text-align:center">Hành trình đi lên từ tình yêu nội thất và cái tâm với nghề</h5>
</div>
<div style="padding-top:20px;">
    <h3 style="color:lightgrey;text-align:center">Hành trình chinh phục khách hàng từ tình yêu nội thất</h3>
</div>
<div style="padding-top:20px;">
    <h2 style="color:peru;text-align:center;font-size:10px;">__________________________________________</h2>
</div>
<div style="padding-top:20px;">
    <h6 style="color: grey; text-align: center; text-align: justify;padding-left:100px;padding-right:100px;">
        Trong quá trình hoạt động, chúng tôi nhận thấy sự khao khát của thị trường về những sản phẩm nội thất cao cấp có "tính thẩm mỹ tuyệt vời và chất lượng tối đa" ở trên thế giới mà Việt Nam chưa có. Càng tìm hiểu về những dòng sản phẩm này Kenli càng yêu thích, say sưa về nó. Chúng tôi bắt đầu chuyển mình sang tìm kiếm, hợp tác với những hãng nội thất hàng đầu thế giới để phân phối về Việt Nam những
        "tuyệt phẩm" nội thất hoàn hảo từ thiết kế bên ngoài và chất lượng bên trong.
    </h6>
</div>
<div class="row">
    <div class="col-5" style="padding-left:83px;">
        <img src="~/Image/TREEDECOR/TREE2.jpg" width="550" />
    </div>
    <div class="col-7">
        <h2 style="color:lightgrey;text-align:center;padding-left:30px;padding-right:30px;font-family:monospace">Mang nét đẹp Italia đến từng ngôi nhà Việt</h2>
        <h2 style="color:peru;text-align:center;font-size:10px;">__________________________________________</h2>
        <h6 style="color: grey; text-align: center; text-align: justify;padding-left:100px;padding-right:100px;">
            TReE'S Decor đã chọn cho mình phong cách hiện đại Italy vì chúng tôi mê mẩn với cái đẹp, sự thanh cao, sự tinh tế đến từng đường nét. Chúng tôi lại yêu hơn với tính thực tế của phong cách này, nó không phải là một cái gì hào nhoáng, bóng bẩy, không phải sự tô son trát phấn cho công trình mà nó chính xác đi vào công năng sử dụng và sự tối ưu hóa tuyệt vời. Nó chú ý đến từng chi tiết thẩm mỹ nhỏ nhất, gần như không có bất kỳ sự thừa thãi nào.
            Chính vì thế nó mang lại cho bạn sự hài lòng và niềm tin thích tuyệt vời trong quá trình sử dụng với một chi phí đầu tư hợp lý.
        </h6>
    </div>
</div>
<div class="container">
    <hr width="100%" align="center" />
</div>
<div style="padding-top:20px;padding-left:87px;">
    <h2 style="color:black;text-align:left;font-weight:bold">Lắng nghe hơi thở từ thị trường</h2>
</div>

<div style="padding-top: 20px; padding-left: 87px; padding-right: 87px;">
    <h2 style="color:gray;text-align:justify;font-size:14px">TReE'S Decor luôn luôn lắng nghe hơi thở của thị trường, thấu hiểu mong muốn, khát khao của khách hàng Việt Nam. Vì vậy đội ngũ chúng tôi đã làm việc hăng say và không ngừng tìm kiếm những nhà cung ứng tốt nhất, có thế mạnh cạnh tranh nhất ở trong và ngoài nước. Chúng tôi không chỉ nghiên cứu từ nhiều kênh mà còn trực tiếp tham gia các show triển lãm tại Italia, tận mắt tham quan nhà máy, quy trình sản xuất, tìm tòi những sản phẩm đẹp nhất từ chính những thương hiệu hàng đầu. Chúng tôi không ngừng nỗ lực ngay từ quá trình R&D để đưa tới thị trường những sản phẩm thực, 
    giá trị thực với giá thành tối ưu nhất. </h2>
</div>
<div class="container">
    <hr width="100%" align="center" />
</div>
<div style="text-align:center">
    <img src="~/Image/TREEDECOR/TREE1.jpg" />
</div>
<section>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-7">

        </div>
        <div class="col-3">
            <img src="" />
        </div>

    </div>
</section>

