
@{
    ViewBag.Title = "TinTucNew";
    Layout = "~/Views/_LayoutPhroduct.cshtml";
}

<div class="splitter"></div>
<div class="tinmain">
    <div class="row">
        <div class="tin">
            <h1> TIN TỨC NEW  </h1>
        </div>
    </div>
</div>
<div class="tmain text-center">tintuccovi
    <h2>_______________________</h2>
    TReE'S Decor
    &ensp;
    &ensp;
    <h1></h1>
    &ensp;
</div>

<section id="tintucimg">
    <div class="col-12">
        <img src="~/Image/mua-sam-noi-that-mua-dich.jpg" class="img-fluid" />
    </div>
</section>

<div class="tinmain">
    <div class="row">
        <div class="tin">
            <h1>  </h1>
        </div>
    </div>
</div>




<section id="tintuccovi">
    <div class="container">
        <h2>Mua sắm nội thất an toàn mùa dịch cùng TReE'S Decor</h2>
        <br />
        <h4> Thực hiện nghiêm mọi quy tắc về phòng chống dịch: “thông điệp 5K”, chủ động phun khử trùng, phòng trách Covid tại mọi cơ sở, TReE'S Decor sẽ mang lại cho quý khách hàng môi trường mua sắm đảm bảo, cùng những dịch vụ hàng đầu.</h4>
        <br />
        <h5>Hiện tại, chúng ta đang trong giai đoạn diễn ra dịch bệnh Covid- 19, nên việc tuân thủ mọi quy định phòng chống dịch là điều cần thiết và tất yếu. Bên cạnh đó, nhu cầu mua sắm của bạn vẫn cần phải được đáp ứng hàng ngày và việc tìm ra địa điểm mua sắm an toàn là rất quan trọng. Đặc biệt, đối với những sản phẩm nội thất, việc chọn lựa yêu cầu sự tỉ mỉ và khắt khe hơn cả vì những món đồ này sẽ đồng hành cùng bạn và gia đình trong suốt chặng đường dài. Do đó, lựa chọn một địa chỉ cung cấp nội thất tuân thủ các quy định phòng chống dịch theo tiêu chuẩn của Bộ Y tế sẽ giúp cho việc mua sắm của bạn được diễn ra một cách thuận lợi.</h5>
        <br />
    </div>
</section>
<section id="tintuccovi">
    <div class="container">
        <img src="~/Image/tintuccovi.jpg" />
        <div class="text-center"> Nhân viên nhà TReE'S Decor đang sát khuẩn tay cho khách tại <b>SHOWROOM</b> </div>
        <br />
        <h4>Nhằm đáp ứng mọi nhu cầu tham quan, trải nghiệm và chọn lựa nội thất của quý khách hàng, hiện tại toàn bộ các showroom trên hệ thống TReE'S Decor  vẫn mở cửa hoạt động với khung giờ như thường lệ từ 08:00 – 18:30, tất cả các ngày trong tuần.</h4>
        <br />
        <img src="~/Image/tintuccovi2.jpg" />
        <div class="text-center"> Nhân viên nhà TReE'S Decor tư vấn sản phẩm cho khách hàng tại <b>SHOWROOM</b> </div>
        <br />
        <h4>Đến với TReE'S Decor, quý khách hàng hoàn toàn có thể yên tâm tham quan, trải nghiệm và chọn lựa những món đồ nội thất ưng ý nhất.</h4>
        <br />
    </div>
</section>
<div class="splitter"></div>



