
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="content">
    <div class="content-header">
        <h1 style="padding-left:500px; font-size:30px"><b>Welcome to Admin</b></h1>
    </div>
    <div class="widget-box sample-widget">
        <div class="widget-header">
            <h2 style="padding-left:300px; font-size:20px">Biểu đồ</h2>
            <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
    </div>
    <div class="widget-box sample-widget">
        <div class="widget-header">
            <h2 style="padding-left:300px; font-size:20px">Biểu đồ</h2>
            <i class="fa fa-cog"></i>
        </div>
        <div class="widget-content">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/87118/sample-data-1.png">
        </div>
    </div>
</div>