html, body {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
  }
  body {
	background: #fff;

  }
  img {
	max-width: 100%;
  }
  ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  a {
	text-decoration: none;
  }
  #header {
	float: left;
	width: 100%;
	background: #fff;
	position: relative;
  }
  .white-label {
	float: left;
	background: #33373B;
	max-width: 210px;
	padding: 10px;
	min-height: 44px;
	background: #000;
	width: 100%;
	max-height: 44px;
  }
  .white-label img {
	max-height: 43px;
  }
  .header-nav {
	min-height: 64px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #000;
  }
  .menu-button {
	float: left;
	font-size: 29px;
	color: #fff;
	padding: 12px 19px;
  }
  .nav ul {
	height: 64px;
	float: right;

  }
  .nav ul li {
	float: left;
	position: relative;
	padding: 11px;
  }
  .nav > ul > li:first-child {
	border-left: none;
  }
  .nav ul li a {
	color: #fff;
	padding: 1px;
	float: left;
  }
  .nav ul li i {
	color: #fff;
  }
  .nav ul li:hover {
	/* background: #fff; */
	color: #000;

	background-color: peru;
    cursor: pointer;
	 
  }
  .user-profile {
	float: right;
  }
  .user-profile > div {
	float: left;
	padding: 20px 8px;
	position: relative;
  }
  .user-profile i {
	font-size: 1.2em;
	color: #5F6F86;
  }
  .user-profile i:hover {
	color: peru;
  }
  .font-icon i:after {
	position: absolute;
	content: '3';
	background: #E74C3C;
	color: #fff;
	font-size: 12px;
	border-radius: 50%;
	width: 12px;
	height: 11px;
	padding: 3px 4px -3px 3px;
	text-align: center;
	top: 12px;
	right: 11px;
  }
  .font-icon {
	padding: 8px 10px;
  }
  .font-icon i {
	font-size: 24px;
  }
  .nav-mail .font-icon i:after {
	background: #2ECC71;
  }
  div.user-image {
	padding: 9px 5px;
	margin: 0 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
  }
  .nav-profile {
	background: #000;
	border: 2px solid rgba(139, 129, 129, 0.5) ;

  }
  .nav-profile-image img {
	width: 40px;
	height: 41px;
	border-radius: 50%;
	float: left;
  }
  .nav-profile-name {
	float: right;
	margin: 11px 7px 8px 14px;
	color: #fff;
  }
  .nav-profile-name:hover {
	
	color: #000;
  }
  .nav-profile-name i {
	padding: 0 0 0 11px;
  }
  .nav-chat i:after {
	display: none;
  }
  #sidebar {
	overflow: hidden;
	width: 210px;
	height: 100%;
	float: left;
	background: #000;
  }
#sidebar-nav {
	border: 1px solid rgba(197, 171, 22, 0.3);
	margin-top: 63px;
	width: 104%;
	height: calc(100% - 95px);
	padding: 0;
	background: #000;
	border-right: 1px solid rgba(197, 171, 22, 0.3);
	/*overflow-y: scroll;*/
}
  #sidebar-nav ul li a {
	color: #C2C2C2;
	font-size: .95em;
	padding: 15px 20px;
	float: left;
	width: 100%;
	font-weight: 600;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
	#sidebar-nav ul li:hover a, #sidebar-nav ul li:hover a i, #sidebar-nav li.active a, #sidebar-nav li.active a i {
		color: #333;
		padding: 15px;
		background-color: peru;
		background-image: linear-gradient(to right,peru,white);
		
	}
	#sidebar-nav ul li:hover a {
		background: #fff;
		color: #333;
		padding: 15px;
		background-color: peru;
		background-image: linear-gradient(to right,peru,white);
		font-weight:bold
		
	}
  #sidebar-nav ul li.active a {
	background: #000;
	color: #fff;
	text-align:center;
	border:1px solid peru;
  }
	#sidebar-nav ul li.active a:hover {
		background: peru;
		color: #fff;
		text-align: center;
		border: 1px solid #C2C2C2;
		
	}
  #sidebar-nav ul li.active a i {
	background: #fff;
  }
  #sidebar-nav i {
	padding-right: 8px;
	font-size: 1.3em;
	color: #60636B;
	width: 25px;
	text-align: center;
  }
  #content-1 {
	float: left;
	width: calc(100% - 210px);
	height: 39%;
	word-wrap: break-word;
	background: #fff;
	font-family: Raleway, sans-serif;
  }

  .widget-box {
	background: #fff;
	border: 1px solid #E0E0E0;
	float: left;
	width: 260px;
	margin: 0 0 15px 15px;
  }
  .widget-header {
	background: #000;
  }
  .widget-header h2 {
	font-size: 15px;
	font-weight: normal;
	margin: 0;
	padding: 11px 15px;
	color: #F9F9F9;
	display: inline-block;
  }
  .sample-widget {max-width: 47%;}
  .widget-box .fa-cog {
	float: right;
	color: #fff;
	margin: 11px 11px 0 0;
	font-size: 20px;
  }
  footer{
	  padding:30px;
	  background:#000;

  }
 /* --------------------------------------san pham ----------------------------------------------*/
