
@{
    ViewBag.Title = "BaoHanh_HauMai";
    Layout = "~/Views/_LayoutPhroduct.cshtml";
}


<div class="tinmain">
    <div class="row">
        <div class="tin">
            <h1> CHÍNH SÁCH BẢO - HẬU MÃI  </h1>
        </div>
    </div>
</div>
<div class="tmain text-center">
    <h2>_______________________</h2>
    TReE'S Decor
    &ensp;
    &ensp;
    <h1></h1>
    &ensp;

</div>

<section id="tintucimg">
    <div class="col-12">
        <img src="~/Image/banner-4.jpg" class="img-fluid" />
    </div>
</section>


<div class="tinmain">
    <div class="row">
        <div class="tin">
            
        </div>
    </div>
</div>



<section id="tintuccovi">
    <div class="container">
        <h2>Mua sắm nội thất an toàn mùa dịch cùng TReE'S Decor</h2>
        <br />
        <h4> TReE'S Decor thấu hiểu được nhu cầu và luôn đồng hành cùng người tiêu dùng Việt để mang đến những sản phẩm nội thất cao cấp nhập khẩu chất lượng, bền đẹp, trường tồn với thời gian</h4>
        <br />
        <h5> </h5>
        <br />
    </div>
</section>
<section id="tintuccovi">
    <div class="container">
        <div class="tmain text-center">
            <h2>_______________________</h2>
            TReE'S Decor
            &ensp;
            &ensp;
            <h2>Chính sách bảo hành tại <b>SHOWROOM</b></h2>
            &ensp;
            <div class="tinimg">
                <img src="~/Image/BAOHANH-HAUMAI/baohanhhaumai4.jpg" class="img-fluid">
            </div>
            <div class="text-center"> Chính sách bảo hành tại <b>SHOWROOM</b> </div>
            <br />
            <h4>
                Sofa, bàn ghế hay bất cứ sản phẩm nội thất nào cũng bị chịu sự ảnh hưởng nhất định bởi  các tác động bên ngoài dẫn đến gây hư hại tùy theo mức độ tăng dần.

                Nếu không được bảo quản đúng cách, sau một thời gian sử dụng, những sản phẩm nội thất sẽ có những biến đổi tiêu cực,  ảnh hưởng đến thẩm mỹ, thậm chí  không còn có thể sử dụng được.
            </h4>
            <br />
            <h4>
                Thời gian nhận và bảo hành sản phẩm
            </h4>
            <br />
            <h4>Các ngày trong tuần trừ Chủ nhật và các ngày lễ, tết. </h4>
            <h4>Trong vòng từ 1-3 ngày kể từ khi nhận được thông báo bằng văn bản hoặc thông báo qua điện thoại của Quý khách hàng. Nhân viên kỹ thuật bộ phận bảo hành nội thất TReE'S Decor sẽ có mặt tại địa điểm để khảo sát và sửa chữa mọi hỏng hóc do lỗi sản xuất, lỗi của sản phẩm. </h4>
            <br />
            <h4>
                Trường hợp không thể sửa chữa tại công trình, nhân viên kỹ thuật sẽ chuyển sản phẩm cần bảo hành về kho bảo hành và sẽ có thông báo lại cho Quý khách hàng về thời gian sửa chữa, thời gian trả bảo hành trong vòng từ 7-10 ngày.
                Trong trường hợp sản phẩm cần đợi vật tư bảo hành từ nước ngoài về thì thời gian phụ thuộc vào thời gian vật tư có mặt tại Việt Nam.
            </h4>
            <br />
            <div class="tmain text-center">
                <h2>_______________________</h2>
                TReE'S Decor
                &ensp;
                &ensp;
                <h2> Chính sách thẻ tại <b>SHOWROOM</b> </h2>
                &ensp;

            </div>
            <hr width="100%" align="center" />
            <div class="tinimg">
                <img src="~/Image/BAOHANH-HAUMAI/baohanhhaumai1.png" />
            </div>
            <div class="text-center"> Chính sách thẻ tại <b>SHOWROOM</b> </div>
            <br />

            <h4>Khách hàng thân thiết của TReE'S Decor  mua lại hoặc giới thiệu bạn bè tới mua hàng sẽ được tặng quà với giá trị tối đa tương đương 5% giá trị đơn hàng mua lại hoặc đơn hàng giới thiệu. Giá trị này được quy đổi sang quà và những hình thức tương đương như: CỘNG THÊM số lần bảo trì (giá trị mỗi lần bảo trì là: 500.000đ); tặng bộ dung dịch chăm sóc da trị giá 1.500.000đ</h4>
            <br />
            <h4>Khách hàng giới thiệu bạn bè mua hàng tại TReE'S Decor với giá trị lũy kế tổng đơn hàng đạt mức 1 tỷ đồng/năm khách hàng sẽ được NHẬN THÊM 0.5% tổng giá trị. Giá trị này được quy đổi và chi trả bằng tiền mặt khi đạt đủ là: 50 triệu vào ngày 20/1 năm kế tiếp.</h4>
            <br />
            <div class="tmain text-center">
                <h2>_______________________</h2>
                TReE'S Decor
                &ensp;
                &ensp;
                <h2>Chính sách bảo mật thông tin <b>KHÁCH HÀNG</b></h2>
                &ensp;

            </div>
            <hr width="100%" align="center" />
            <div class="tinimg">
                <img src="~/Image/BAOHANH-HAUMAI/baohanhhaumai3.jpg" />
            </div>
            <div class="text-center"> Chính sách bảo mật thông tin <b>KHÁCH HÀNG</b> </div>
            <br />

            <h4>Chúng tôi  thu thập thông tin về số lần viếng thăm, bao gồm số trang quý khách xem, số links (liên kết) bạn click, những thông tin khác liên quan đến việc kết nối đến website và các thông tin mà trình duyệt Web (Browser) quý khách sử dụng mỗi khi truy cập vào website của chúng tôi gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</h4>
            <br />
            <h5>Thông tin cá nhân của Thành viên trên website được chúng tôi cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của website. Việc thu thập và sử dụng thông tin của mỗi Thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</h5>
            <br />
            <h5>Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của Thành viên khi không có sự cho phép đồng ý từ Thành viên.</h5>
            <br />
            <h4>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân Thành viên, người quản lý website sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho Thành viên được biết.</h4>
            <br />
            <h5>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của website.</h5>
            <br />
            <div class="tmain text-center">
                <h2>_______________________</h2>
                TReE'S Decor
                &ensp;
                &ensp;
                <h2>Chính sách  <b>Giao Hàng</b></h2>
                &ensp;

            </div>
            <hr width="100%" align="center" />

            <div class="tinimg">
                <img src="~/Image/BAOHANH-HAUMAI/baohanhhaumai2.jpg" />
            </div>
            <div class="text-center"> Chính sách  <b>Giao Hàng</b> </div>
            <br />
            <h4>Giao hàng miễn phí trong phạm vi nội thành Hà Nội và nội thành Hồ Chí Minh. Áp dụng cho đơn hàng giá trị từ 10tr đồng trở lên.</h4>
            <br />
            <h4>
                Ngoài trường hợp giao hàng miễn phí trên, các trường hợp còn lại sẽ được tính phí giao hàng theo bảng phí vận chuyển của hãng vận chuyển thứ 3 hoặc theo bảng phí của TReE'S Decor.

                Chi phí này sẽ được TReE'S Decor thông báo và xác nhận với quý khách trước khi quý khách xác nhận thanh toán và chúng tôi tiến hành gửi hàng.
            </h4>
            <br />
            <h4>
                Thời gian giao hàng từ 1-5 ngày tùy theo khoảng cách vận chuyển.
            </h4>
            <br />
            <h4> Trong một số trường hợp khách quan TReE'S Decor có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu, điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường hay trục trặc trong quá trình xuất hàng.</h4>
            <br />
            <h4>
                Trong thời gian chờ nhận hàng, Qúy khách có bất cứ thắc mặc gì về thông tin vận chuyển xin vui lòng liên hệ hotline CSKH: 1800 6677 để nhận được sự trợ giúp.
            </h4>
            <br />
            <br />
            <br />
        </div>
</section>
<div class="splitter"></div>



